@font-face {
    font-family: 'Better VCR';
    src: url('../assets/fonts/better-vcr/BetterVCR.woff') format('woff'),
        url('../assets/fonts/better-vcr/BetterVCR.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Superstar';
    src: url('../assets/fonts/superstar/Superstar.woff') format('woff'),
        url('../assets/fonts/superstar/Superstar.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Rocko';
    src: url('../assets/fonts/rocko/RockoFLF.woff') format('woff'),
        url('../assets/fonts/rocko/RockoFLF.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Rocko Ultra';
    src: url('../assets/fonts/rocko/RockoUltraFLF.woff') format('woff'),
        url('../assets/fonts/rocko/RockoUltraFLF.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Rocko Ultra';
    src: url('../assets/fonts/rocko/RockoUltraFLF-Bold.woff') format('woff'),
        url('../assets/fonts/rocko/RockoUltraFLF-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir';
    src: url('../assets/fonts/avenir/AvenirLTStd-Roman.woff') format('woff'),
        url('../assets/fonts/avenir/AvenirLTStd-Roman.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir';
    src: url('../assets/fonts/avenir/AvenirLTStd-Black.woff') format('woff'),
        url('../assets/fonts/avenir/AvenirLTStd-Black.woff2') format('woff2');
    font-weight: bolder;
    font-style: normal;
}

@font-face {
    font-family: 'Daydream';
    src: url('../assets/fonts/daydream/Daydream.woff') format('woff'),
        url('../assets/fonts/daydream/Daydream.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Ring Matrix';
    src: url('../assets/fonts/ring-matrix/RingMatrix.woff') format('woff'),
        url('../assets/fonts/ring-matrix/RingMatrix.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Haas Display Roman';
    src: url('../assets/fonts/neuehaas/NeueHaasDisplay-Roman.woff') format('woff'),
        url('../assets/fonts/neuehaas/NeueHaasDisplay-Roman.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 100%;

    scrollbar-color: #708172 #8A9B8C;
    scrollbar-width: none;
}

body {
    min-height: 100vh;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;

    margin: 0;
    padding: 0;
    color: #27282D;
    box-sizing: border-box;
    font-family: 'Better VCR';
    font-style: normal;
    overflow-x: hidden;

    scrollbar-width: none;
}

.index {
    background-color: #ABCCFA;
    background-image: url("../assets/backgrounds/cloud-bg.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#bear-page {
    background-color: #FFDB00;
    background-image: url("../assets/backgrounds/bear-bg.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow-y: hidden;
}

#castle-page {
    background-color: #E9F0F2;
    background-image: url("../assets/backgrounds/castle-bg.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow-y: hidden;
}

#bonsai-page {
    background-color: #3E7BD7;
    background-image: url("../assets/backgrounds/bonsai-bg.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow-y: hidden;
}

#world-page {
    background-color: #48B800;
    background-image: url("../assets/backgrounds/world-bg.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow-y: hidden;
}

.nav-grid {
    display: flex;
    align-content: baseline;

    display: grid;
    height: 80vh;
    width: 100vh;

    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 1vh;

    text-align: center;
}

.elem1 {
    display: flex;
    align-self: center;
    justify-content: center;

    grid-column: span 4 / span 4;
}

.elem2,
.elem3,
.elem4,
.elem5 {
    grid-row-start: 2;
}

.elem6 {
    bottom: 5%;
    grid-column: span 2 / span 2;
    grid-column-start: 2;
    grid-row-start: 4;
}

#credits {
    width: 45%;
    margin: 0;
    padding: 0;
}

#tickets,
#bear,
#castle,
#bonsai {
    width: 90%;
}

#tickets,
#castle {
    transform: rotate(-5deg);
}

#bear,
#bonsai {
    transform: rotate(5deg);
}

a {
    text-decoration: none;
    color: #27282D;
    padding:0;
    margin: 0;
}

a:hover {
    filter: drop-shadow(-10px -10px 30px #E9F0F2);
    -webkit-filter: drop-shadow(-10px -10px 30px #E9F0F2);
    -moz-filter: drop-shadow(-10px -10px 30px #E9F0F2);
}

#credits:hover {
    transform: rotate(5deg);
}

#tickets:hover {
    transform: rotate(5deg);
}

#bear:hover {
    transform: rotate(-5deg);
}

#castle:hover {
    transform: rotate(5deg);
}

#bonsai:hover {
    transform: rotate(-5deg);
}

.tiles {
    margin-bottom: -80px;
    width: 12%;
}

.tiles:hover {
    filter: drop-shadow(-10px -10px 30px #E9F0F2);
    -webkit-filter: drop-shadow(-10px -10px 30px #E9F0F2);
    -moz-filter: drop-shadow(-10px -10px 30px #E9F0F2);
}

.tile-grid {
    position: relative;
    bottom: 0;
}

/* font */

section {
    text-align: center;
}

.list-container {
    text-align: center;
}

ul {
    display: inline-block;
    text-align: left;
    font-size: 1.1rem;
}

h1 {
    font-family: 'Superstar';
    font-size: 2.4rem;
    padding-bottom: 0;
    margin-bottom: 5px;
}

#h1-v2 {
    font-family: 'Rocko Ultra';
    font-size: 3rem;
    padding-bottom: 0;
    margin-bottom: 0;
    text-align: left;

}

#world-page h1 {
    margin-top: 0px;
    text-align: left;
}

.title {
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.title-mb {
    display: none;
}

h2 {
    font-family: 'Superstar';
    font-size: 2.2rem;
    margin-bottom: 5px;

}

h3 {
    font-family: 'Superstar';
    font-size: 2rem;
    margin-bottom: 5px;
    font-weight: normal;
}

#ellipse {
    font-family: 'Avenir';
    font-weight: bolder;
    font-size: 1.5rem;
    text-align: center;

    border-radius: 50%;
    background: #8A9B8C;
    border: #27282D 2px solid;

    display: block;
    width: 150px;
    padding: 10px 15px 10px 15px;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
}

#ellipse:hover {
    background: #27282D;
    color: #8A9B8C;

    filter: none;
    -webkit-filter: none;
    -moz-filter: none;
}

#ellipse:active {
    background: #27282D;
    color: #27282D;
}

p {
    font-family: 'Better VCR';
    padding-left: 5%;
    padding-right: 5%;
    font-size: 1.2rem;
}

section a {
    font-family: 'Better VCR';
    font-size: 1.2rem;
}

#link{
    font-family: 'Better VCR';
    /* padding-left: 5%;
    padding-right: 5%; */
    font-size: 1.2rem;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
}

#link-v2{
    font-family: 'Superstar';
    font-size: 2.4rem;
    padding-bottom: 0;
    margin-bottom: 5px;
    margin-top: 1em;
    margin-left: 0;
    margin-right: 0;
}

span {
    font-family: 'Rocko';
}

.title span,
.title-mb span {
    font-family: 'Rocko';
    font-size: 1.5rem;
}

hr {
    margin-top: 30px;
    border: none;
    border-top: 4px dotted #27282D;
    color: #27282D;
    height: 1px;
    width: 100%;
}

#link:hover,
#link-v2:hover,
.tb-right a:hover {
    filter: none;
    -webkit-filter: none;
    -moz-filter: none;
    background-color: #27282D;
    color: #8A9B8C;
}

#link:active,
.tb-right a:active {
    background-color: #27282D;
    color: #27282D;
}

.header-box p {
    margin: 0;
    padding: 15px 10px 15px 10px;
    margin-left: 10px;
    font-family: 'Better VCR';
    font-size: 1rem;
    border: 1px solid #27282D;
    text-align: center;
}

.credit-line {
    font-family: 'Superstar';
    font-size: 2rem;
    vertical-align: center;
    margin-bottom: 20px;
}

.credit-line h3 {
    display: inline;
}

.label {
    font-family: 'Better VCR';
    background: #27282D;
    color: #E9F0F2;
    border: 1px solid #27282D;
    border-radius: 10px;
    font-size: 1.1rem;

    padding: 10px 15px 10px 15px;
    vertical-align: center;
}

a.label:hover {
    background: #E9F0F2;
    color: #27282D;
    border: 1px solid #27282D;
    filter: none;
}

a.label:active {
    background: #48B800;
    color: #27282D;
    border: 1px solid #27282D;
}

.footer {
    display: block;
}

.footer-mb {
    display: none;
}

.footer p,
.footer-mb p {
    font-family: 'Neue Haas Display Roman';
    font-size: 1rem;
    bottom: 0;
    margin: 0;
    padding: 0;
}

.footer p:first-child {
    float: left;
}

.footer p:last-child {
    float: right;
}

.footer a,
.footer-mb a {
    color: #3E7BD7;
}

.footer a:hover {
    text-decoration: underline;
}

.footer a:active {
    color: #1e3e6d;
}


/* containers */

::-webkit-scrollbar {
    display: none;
}

div.info {
    display: flex;
    flex-direction: column;

    align-content: center;

    min-height: 50vh;
    padding: 15px;
    width: auto;
    text-align: center;
    overflow-y: scroll;

    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
    scrollbar-width: none;
}

#world-page .info {
    height: 0vh;
    width: 70vw;
}

.table {
    display: flex;
    justify-content: center;
    border-collapse: collapse;
    padding-bottom: 2vh;
}

 .table-mb {
    display: none;
}

tr {
    border-bottom: 3px dotted #27282D;
}

td {
    padding-top: 3%;
    padding-bottom: 3%;
    font-size: 1.3rem;
    vertical-align: bottom;
}

.tb-left {
    text-align: left;
    width: 10vw;
}

.tb-right{
    text-align: right;
    width: 30vw;

    justify-content: right;
    text-align: right;
}

.tb-right a{
    text-align: right;
    padding-left: 0;
    padding-right: 0;
}

b{
 font-family: 'Daydream';
 font-size: 0.8rem;
 vertical-align:bottom;
}

i {
    font-family: 'Ring Matrix';
    font-size: 1.2rem ;
    font-weight: bold;
    vertical-align:bottom;
}

.lcd-scroll {
    overflow-y: scroll;
}

.return {
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px 10px 5px 10px;
    margin: 10px 15px 10px 15px;;

    font-family: 'Neue Haas Display Roman';
    color:#27282D;
    font-size: 1rem;
    border: 10px outset;
    border-radius: 50%;

    text-decoration: none;
}

.return:hover {
    filter: none;
    -webkit-filter: none;
    -moz-filter: none;
}

.return:active {
    color: #27282D;
    border: 10px inset;
    border-radius: 50%;
}

#bear-page .return {
    background-color: #ffdd00;
    border-color: #f0d001;
}

#bear-page .return:hover,
#bear-page .return:active {
    background-color: #f0d001;
}


#castle-page .return {
    background-color: #e9f0f2;
    border-color: #d6ddde;
}

#castle-page .return:hover,
#castle-page .return:active {
    background-color: #d6ddde;
}

#bonsai-page .return {
    background-color: #3e7bd7;
    border-color: #3877d6;
}

#bonsai-page .return:hover,
#bonsai-page .return:active {
    background-color: #3877d6;
}

#world-page .return {
    background-color: #47b800;
    border-color: #42aa02;
}

#world-page .return:hover,
#world-page .return:active {
    background-color: #42aa02;
}

#bear-info {
    margin-top: 20vh;
    height: 50vh;
    width: 80vw;
    background: #8A9B8C;
    border: 40px groove #48B800;
    border-radius: 50px;
    overflow-y: scroll;
}

#castle-info {
    margin-top: 11vh;
    height: 60vh;
    width: 70vw;
    background: #8A9B8C;
    border: 20px inset #3E7BD7;
    border-radius: 50px;
}

#bonsai-info {
    height: 70vh;
    max-width: 60vw;
    background: #8A9B8C;
    border: 20px inset #E9F0F2;
    border-radius: 50px;
}

#sound-logo {
    width: 200px;
    padding: 0 15px 15px 15px;
}

#sound-logo:hover {
    filter: invert(100);
    -webkit-filter: 0;
    -moz-filter: 0;
}

.world-info {
    display: flex;
    justify-content: center;
    align-items: center;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    row-gap: 2vh;

    padding: 15px 25px 15px 25px;

    background: rgb(233, 240, 242);
    background: -moz-linear-gradient(180deg, rgba(233, 240, 242, 1) 0%, rgba(196, 203, 205, 1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(233, 240, 242, 1) 0%, rgba(196, 203, 205, 1) 100%);
    background: linear-gradient(180deg, rgba(233, 240, 242, 1) 0%, rgba(196, 203, 205, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e9f0f2", endColorstr="#c4cbcd", GradientType=1);
    border: 1px solid #27282D;
    border-radius: 10px;
    overflow-y: scroll;

    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
    scrollbar-width: none;
}

#elem7 {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    text-align: left;
    float: left;
}

#elem8 {
    display: flex;
    align-items: flex-start;
    align-self: self-start;
    flex-direction: column;
    text-align: center;
    float: right;
}

#elem9 {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    grid-column: span 2 / span 2;
    float: center;
    text-align: left;
}

#elem10 {
    grid-row-start: 3;
    grid-column: span 2 / span 2;
}

#symbols {
    display: flex;
    align-items: center;
}

.symbol {
    margin-top: 5px;
    width: 40px;
    padding: 5px 20px 5px 0;
}

#sym1 {
    width: 50px;
}

/* --------- MOBILE --------- */
/* -- small desktop window or large mobile device --*/
@media screen and (max-width: 1100px),
screen and (max-width: 1100px) and (max-height: 700px) {
    body {
        height: 100vh;
        width: 100vw;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }

    .nav-grid {
        display: flex;
        align-self: center;
        align-items: center;

        display: grid;
        height: 100%;
        width: 100%;

        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-column-gap: 0;
        grid-row-gap: 0;

        text-align: center;
        padding: 2%;
    }

    a.elem1{
        padding:0;
        margin:0;
    }

    .elem1 {
        display: flex;
        top:0;
        grid-column: span 2 / span 2;
    }

    .elem2,
    .elem3 {
        grid-row-start: 2;
    }
    
    .elem4,
    .elem5 {
        grid-row-start: 3;
    }

    .elem6 {
        height: 50px;
        grid-column: span 2 / span 2;
        grid-row-start: 4;
        margin: 5vh;
    }

    #credits {
        width: 85%;
        margin-top: 20px;
        padding: 10px;
    }

    #tickets,
    #bear,
    #castle,
    #bonsai {
        width: 95%;
        overflow:visible;
    }

    #tickets{ 
        margin-top: -25px;
    }

    #bear{ 
        margin-top: 125px;
    }

    #castle {
        margin-top:-125px;
    }

    #bonsai {
        margin-top: 50px;
    }

    .tiles {
        margin-bottom: 15px;
        width: 15%;
    }

    .info{
        height: 80vh;
        padding: 15px;
        margin: 5%;
    }

    .title-mb {
        display: block;
        margin-top: 0.67em;
        margin-bottom: 0.67em;
    }

    .title-mb h1{
        margin: 0;
    }

    .title {
        display: none;
    }

    .tb-left {
        text-align: left;
        width: 10vw;
    }
    
    .tb-right{
        text-align: right;
        width: 30vw;
/*     
        display: flex; */
        justify-content: right;
        text-align: right;
    }  

    i {
    font-size: 1rem;
    vertical-align: top;
    letter-spacing: -0.1rem;
    }
    
}

/* -- narrow desktop window or small mobile device --*/
@media screen and (max-width: 800px) {
    body.index{
        /* overflow: hidden; */
    }

    #bear-page,
    #bonsai-page,
    #world-page {
        background-position: center;
        background-size: 150vh;
    }

    #castle-page {
        background-position: bottom;
        background-size: 150vh;
    }

    #tickets,
    #bear,
    #castle,
    #bonsai {
        width: 90%;
    }

    .elem2,
    .elem3 {
        margin-top: -3vh;
        grid-row-start: 2;
    }

    #bear-info {
        margin: 5%;
        height: 60vh;
        width: 80vw;
        border: 20px groove #48B800;
    }
    
    #castle-info {
        margin: 5%;
        height: 60vh;
        width: 80vw;
        border: 10px inset #3E7BD7;
    }
    
    #bonsai-info {
        max-width: unset;
        margin: 5%;
        height: 60vh;
        width: 80vw;
        border: 10px inset #E9F0F2;
    }

    .table-mb {
        display: flex;
        justify-content: center;
        border-collapse: collapse;
        padding-bottom: 2vh;
    }
    
     .table {
        display: none;
    }

    .tb-left {
        padding-top: 3%;
        padding-bottom: 3%;
        font-size: 1.1rem;
        letter-spacing: -0.02rem;
    }

    .tb-right{
        text-align: right;
        width: 50vw;
/*     display: flex; */
        justify-content: right;
        text-align: right;
    }  

   .tb-right a {
        font-size: 1.1rem;
        letter-spacing: -0.02rem;
    }

    #world-page .info {
        display: flex;
        height: 70vh;
        width: 80vw;
        justify-content: center;
        float: center;
        text-align: center;
    }

    #world-info{
        justify-content: center;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 1fr);
        /* row-gap: 2vh; */
    }

    #elem7 {
        align-items: center;
        text-align: center;
        float: center;
        grid-column: span 2 / span 2;
    }
    
    #elem8 {
        text-align: center;
        grid-row-start: 2;
        grid-column: span 2 / span 2;

    }
    
    #elem9 {
        text-align: center;
        grid-row-start: 3;
        grid-column: span 2 / span 2;
    }
    
    #elem10 {
        float: center;
        text-align: center;
        grid-row-start: 4;
        grid-column: span 2 / span 2;
    }

    .header-box p {
        display: block;
        padding: 20px;
        margin-left: auto;
        margin-right: auto;
        width: 50vw;
    }

    .footer {
        display: none;
    }

    .footer-mb {
        display: inline;
    }
    
}