@font-face {
    font-family: 'Better VCR';
    src: url('../assets/fonts/better-vcr/BetterVCR.woff') format('woff'),
        url('../assets/fonts/better-vcr/BetterVCR.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Superstar';
    src: url('../assets/fonts/superstar/Superstar.woff') format('woff'),
        url('../assets/fonts/superstar/Superstar.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Rocko';
    src: url('../assets/fonts/rocko/RockoFLF.woff') format('woff'),
        url('../assets/fonts/rocko/RockoFLF.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Rocko Ultra';
    src: url('../assets/fonts/rocko/RockoUltraFLF.woff') format('woff'),
        url('../assets/fonts/rocko/RockoUltraFLF.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Rocko Ultra';
    src: url('../assets/fonts/rocko/RockoUltraFLF-Bold.woff') format('woff'),
        url('../assets/fonts/rocko/RockoUltraFLF-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir';
    src: url('../assets/fonts/avenir/AvenirLTStd-Roman.woff') format('woff'),
        url('../assets/fonts/avenir/AvenirLTStd-Roman.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir';
    src: url('../assets/fonts/avenir/AvenirLTStd-Black.woff') format('woff'),
        url('../assets/fonts/avenir/AvenirLTStd-Black.woff2') format('woff2');
    font-weight: bolder;
    font-style: normal;
}

@font-face {
    font-family: 'Daydream';
    src: url('../assets/fonts/daydream/Daydream.woff') format('woff'),
        url('../assets/fonts/daydream/Daydream.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Ring Matrix';
    src: url('../assets/fonts/ring-matrix/RingMatrixTwo.woff') format('woff'),
    url('../assets/fonts/ring-matrix/RingMatrixTwo.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}



@font-face {
    font-family: 'Neue Haas Display Roman';
    src: url('../assets/fonts/neuehaas/NeueHaasDisplay-Roman.woff') format('woff'),
        url('../assets/fonts/neuehaas/NeueHaasDisplay-Roman.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 100%;

    scrollbar-color: #708172 #8A9B8C;
    scrollbar-width: none;
}

body {
    min-height: 100vh;

    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;

    margin: 0;
    padding: 0;
    background-image: url("../assets/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: #27282D;
    box-sizing: border-box;
    font-family: 'Better VCR';
    font-style: normal;
    overflow-x: hidden;

    scrollbar-width: none;
}

.page {
    background: #8A9B8C;
    overflow-y: hidden;
}

#bear-page{
    background-color: #FFDB00;
    background-image: url("../assets/backgrounds/bear-bg.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#castle-page{
    background-color: #E9F0F2;
    background-image: url("../assets/backgrounds/castle-bg.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#bonsai-page{
    background-color: #3E7BD7;
    background-image: url("../assets/backgrounds/bonsai-bg.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#world-page{
    background-color: #48B800;
    background-image: url("../assets/backgrounds/world-bg.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.nav-grid {
    display: flex;
    align-content: baseline;

    display: grid;
    height:80vh;
    width: 100vh;

    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 2%;

    text-align: center;
}

.elem1 {
    grid-column: span 4 / span 4;
    /* grid-area: 1 / 1 / 2 / 6;  */
}

.elem2, .elem3, .elem4, .elem5 {
    grid-row-start: 2;
    /* grid-area: 2 / 1 / 3 / 2; */
}


.elem6 {
    bottom: 5%;
    grid-column: span 2 / span 2;
    grid-column-start: 2;
    grid-row-start: 4;
}

#credits {
    width: 45%;
}

#tickets,
#bear,
#castle,
#bonsai {
    width: 85%;
}

#tickets,
#castle {
    transform: rotate(-5deg);
}

#bear,
#bonsai {
    transform: rotate(5deg);
}

a {
    text-decoration: none;
    color: #27282D ;
}

a:hover {
    filter: drop-shadow(-10px -10px 30px #E9F0F2);
    -webkit-filter: drop-shadow(-10px -10px 30px #E9F0F2);
    -moz-filter: drop-shadow(-10px -10px 30px #E9F0F2);
}

#tickets:hover {
    transform: rotate(5deg);
}

#bear:hover {
    transform: rotate(-5deg);
}

#castle:hover {
    transform: rotate(5deg);
}

#bonsai:hover {
    transform: rotate(-5deg);
}

.tiles {
    margin-bottom: -80px;
    width: 12%;
}

.tile-grid {
    position: relative;
    bottom: 0;
}

/* font */

section {
    text-align: center;
}

.list-container{
    text-align: center;
}

ul {
    display: inline-block;
    text-align: left;
    font-size: 1.1rem;
}

h1 {
    font-family: 'Superstar';
    font-size: 2.4rem;
    padding-bottom:0;
    margin-bottom:5px;
}

#h1-v2{
    font-family: 'Rocko Ultra';
    font-size: 3rem;
    padding-bottom:0;
    margin-bottom:0;  
    text-align: left;

}

#world-page h1{
    margin-top:0px;
    text-align: left;
}

.title {
    display: flex;
    justify-content: center;
    align-items: baseline;
}

h2 {
    font-family: 'Superstar';
    font-size: 2.2rem;
    margin-bottom:5px;

}

#ellipse {
    font-family: 'Avenir';
    font-weight: bolder;
    font-size: 1.5rem;

    border-radius: 50%;
    background: #8A9B8C;
    border: #27282D 2px solid;

    width: 150px;
    padding: 10px 25px 10px 25px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

p {
    font-family: 'Better VCR';
    padding-left: 50px;
    padding-right: 5%;
    font-size: 1.2rem;
}

span {
    font-family: 'Rocko';
}

.title span {
    font-family: 'Rocko';
    font-size: 1.5rem;
}

hr {
    margin-top: 30px;
    border: none;
    border-top: 4px dotted #27282D;;
    color: #27282D;
    height: 1px;
    width: 100%;
  }

.tb-right a:hover {
    filter: none;
    -webkit-filter: none;
    -moz-filter: none;
    background-color: #27282D ;
    color: #8A9B8C;
}

.tb-right a:active {
    background-color: #27282D ;
    color: #27282D;
}

/* containers */

::-webkit-scrollbar {
    display: none;
}

div.info {
    display: flex;
    flex-direction: column;

    align-content: center;
    
    min-height:50vh;
    padding: 15px;
    width: auto;
    text-align: center;
    overflow-y: scroll;

    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
    scrollbar-width: none;
}

table {
    display: flex;
    justify-content: center;
    border-collapse: collapse;
    padding-bottom: 2vh;
}

tr {
    border-bottom: 3px dotted #000000;
}

td {
    padding-top: 3%;
    padding-bottom: 3%;
    font-size: 1.3rem;
    vertical-align:bottom;
}

.tb-left {
    text-align: left;
    padding-right: 10vw;
}

.tb-right {
    text-align: right;
}

.lcd-scroll{
    overflow-y: scroll;

}

.return{
    position: absolute;
    top:0;
    left:0;
    padding: 5px 10px 5px 10px;
    margin: 15px;

    font-family: 'Rocko';
    border: 10px outset;
    border-radius: 20px;

    text-decoration: none;
}

.return:hover{
    filter: none;
    -webkit-filter: none;
    -moz-filter: none;
}

.return:active{
    color: #27282D;
    border: 10px inset;
    border-radius: 20px;
}

#bear-page .return{
    background-color: #FFDB00;
    border-color:  #f0d001; 
}

#bear-page .return:hover,
#bear-page .return:active{
    background-color: #f0d001;
}


#castle-page .return{
    background-color: #E9F0F2;
    border-color: #d6ddde; 
}

#castle-page .return:hover,
#castle-page .return:active{
    background-color: #d6ddde;
}

#bonsai-page .return{
    background-color: #3E7BD7;
    border-color: #3877d6; 
}

#bonsai-page .return:hover,
#bonsai-page .return:active{
    background-color: #3877d6;
}

#world-page .return{
    background-color: #48B800;
    border-color:  #42aa02; 
}

#world-page .return:hover,
#world-page .return:active{
    background-color: #42aa02;
}

#bear-info {
    margin-top: 20vh;
    height: 50vh;
    width: 80vw;
    background: #8A9B8C;
    border: 40px outset #48B800;
    border-radius: 50px;
    overflow-y: scroll;
}

#castle-info {
    margin-top: 11vh;
    height: 60vh;
    width: 70vw;
    background: #8A9B8C;
    border: 20px inset #3E7BD7;
    border-radius: 50px;
}

#bonsai-info {
    height: 70vh;
    max-width: 60vw;
    background: #8A9B8C;
    border: 20px inset #E9F0F2;
    border-radius: 50px;
}

#world-info {
    height: 60vh;
    width: 60vw;
    background: rgb(233,240,242);
    background: -moz-linear-gradient(180deg, rgba(233,240,242,1) 0%, rgba(196,203,205,1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(233,240,242,1) 0%, rgba(196,203,205,1) 100%);
    background: linear-gradient(180deg, rgba(233,240,242,1) 0%, rgba(196,203,205,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e9f0f2",endColorstr="#c4cbcd",GradientType=1);     border: 1px solid #000000;
    border-radius: 10px;

    padding: 30px;
}

#sound-logo {
    width: 200px;
    padding: 0 15px 15px 15px;
}

.world-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 8px;
}

#elem7 {
    grid-row-start: 1;
    text-align: left;
    float: left;
}

#elem8 {
    grid-row-start: 1;
    text-align: center;
    float: right;
    border: 1px solid #27282D;
}

#elem9 {
    grid-column: span 2 / span 2;  
}

